<!DOCTYPE html>
<html>
<head>
	<title>Leave History</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
	<h2>Leave Histry Table</h2>

<table>
  <tr>
    <th>Leave Type</th>
    <th>From Date</th>
    <th>To Date</th>
    <th>Status</th>
  </tr>
{% block content %}
<tr>
	{% for x in leaves %}
    <td>{{ x.leave_type }}</td>
    <td>{{ x.from_date }}</td>
    <td>{{ x.to_date }}</td>
    <td>{% if x.status == 0 %}
    	"Rejected"
    	{% endif %}

    	{% if x.status == 1 %}
    	"Accepted"
    	{% endif %}

    	{% if x.status == 2 %}
    	"Pending"
    	{% endif %}

    	{% if x.status == 3 %}
    	"Pending"
    	{% endif %}

    </td>
  </tr>

{% endfor %}
{% endblock %}
</table>
<form action="/faculty" method="get">
  <input type="submit" value="Home Page"

  name="homepage" id="frm1_submit"/>

</form>
</body>
</html>